name: Build

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: useblacksmith/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: useblacksmith/setup-gradle/setup-gradle@v5
      - name: Build
        run: ./gradlew build
      - name: Publish
        run: ./gradlew publish
        if: github.ref == 'refs/heads/main'
    env:
      ORG_GRADLE_PROJECT_atlasUsername: ${{ secrets.ATLAS_USERNAME }}
      ORG_GRADLE_PROJECT_atlasPassword: ${{ secrets.ATLAS_PASSWORD }}
