name: Build

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: useblacksmith/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: useblacksmith/setup-gradle/setup-gradle@v5
      - name: Build
        run: ./gradlew build
      - name: Publish
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_bundlegroupUsername: ${{ secrets.BUNDLEGROUP_USERNAME }}
          ORG_GRADLE_PROJECT_bundlegroupPassword: ${{ secrets.BUNDLEGROUP_PASSWORD }}
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: scenes-plugin/build/static/Scenes.jar
      - name: Update description
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: ./gradlew modrinthSyncBody syncAllPagesToHangar
        env:
          HANGAR_API_TOKEN: ${{ secrets.HANGAR_API_TOKEN }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      - name: Create release
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md
          files: scenes-plugin/build/static/Scenes.jar
      - name: Publish release
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        run: ./gradlew modrinth publishAllPublicationsToHangar
        env:
          HANGAR_API_TOKEN: ${{ secrets.HANGAR_API_TOKEN }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
